main, h1{ padding: 1em;}

p , h1 {
  color: orangered;
}

ul {
  list-style-type: none;
  
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 1em;
  box-shadow: 10px 5px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px gray;
}

footer{
  border: thin solid black;
}

